@font-face {
    font-family: varela;
    src: url("/assets/VarelaRound-Regular.ttf");
}

body {
    font-family: varela;
    text-align: center;

    background-color: #eeeeee;
}

hr {
    margin: 0 64px;
}

h3 {
    text-align: left;
    margin: 8px 64px;
}

textarea.text {
    resize: none;
    width: 50%;

    padding: 8px;
}