* {
	text-decoration: none; margin: 0; font-family: Verdana; box-sizing: border-box;
}

.navbar {
	display: flex; background: white; padding: 15px; position: absolute; width: 100vw; height: 10vh; align-items: center; justify-content: space-between; border-top: 5px solid #611D35;
}

.navdiv {
	display: inline-flex; width: 100vw; align-items: center; justify-content: space-between;
}

.logo a {
	display: inline-flex; font-size: 35px; font-weight: 600; color: #611D35; align-items: center;
}

.active {
	border-bottom: 2px solid #611D35;
}

li {
	list-style: none; display: inline-block;
}

li a {
	color: #611D35; font-size: 16px; font-weight: bold; margin-right: 25px; transition: 100ms ease-out;
}

li a:hover {
	 opacity: 70%; transition: 100ms ease-in;
}

button {
	background-color: #611D35; color: white;
	padding: 10px; width: 90px;
	border: 1px #611D35; border-radius: 10px;
	font-weight: bold; font-size: 15px;
	transition: 200ms ease-out;
}

button:hover {
	opacity: 50%;
	transition: 200ms ease-in;
}

.main {
	display: flex;
	position: absolute; top: 10vh; width: 100vw; height: 40vh;
	background-color: #611D35; color: white;
	align-items: center;
	padding-left: 8vw;
	font-size: 50px; font-weight: 800;
}

.title {
	font-size: 40px; font-weight: 600;
	display: inline-flex; position: absolute; top: 65vh;
	width: 50vw; 
	left: 5vw;
	align-items: center;
	text-align: left;
	color: #611D35;
}

.mission {
	position: absolute;
	font-size: 20px;
	width: 80vw;
	left: 5vw;
	top: 100vh;
	color: #611D35;
}

.team {
	position: absolute;
	font-size: 20px;
	width: 80vw;
	left: 5vw;
	top: 150vh;
	color: #611D35;
}