body { 
    background-color: #eeeeee;
    margin: 0;
    font-family: varela;
    color: #333;
}

a {
    color: #333;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #ccc;
    transition: color 0.2s ease-in-out;
}

@font-face {
    font-family: varela;
    src: url("/assets/VarelaRound-Regular.ttf");
}

@keyframes smooth-appear {
    to {
        top: 10%;
        opacity: 1;
    }
}

@keyframes smooth-disappear {
    to {
        top: -10%;
        opacity: 1;
    }
}

@keyframes quick-disappear {
    to {
        top: -10%;
        opacity: 1;
    }
}

.topnav {
    display: flex;
    background-color: #333;
    width: 100%;
    overflow: hidden;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.topnav .item {
    display: flex;
    flex: 1;
}

.topnav .item-force {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
}

.topnav .spacer {
    margin: auto;
}

.topnav .account {
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-left: auto;
    order: 2;
    float: right;
}

.topnav .links {
    margin-right: auto;
    order: 0;
    float: left;
    justify-content: flex-start;
    align-items: center;
}

.topnav a.logo {
    order: 1;
    flex: 0 !important;
    margin: 0 auto;
}

.topnav a.account {
    flex: 0.15;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px;
    font-size: 17px;
    transition: all 200ms ease;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #0452aa;
    color: white;
}

.whoops {
    width: 32vw;
    height: 64px;
    background-color: #ff1919;
    box-shadow: 3px 3px 20px black;
    color: white;
    padding: 8px;
    border-radius: 8px;
    position: fixed;
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.whoops-open {
    top: -10%;
    animation: smooth-appear 1s ease forwards;
}

.whoops-close {
    top: 10%;
    animation: smooth-disappear 1.1s ease;
}

.whoops-quickclose {
    top: 10%;
    animation: quick-disappear 0.3s ease;
}

.whoops .whoops-icon {
    font-size: 16px;
}

.whoops .title {
    font-weight: bold;
}

.whoops .msgarea {
    float: center;
    text-align: center;
}

.whoops .msgarea p {
    margin: auto;
}

.whoops .msgarea a {
    color: white;
    transition: color 0.2s ease-in-out;
}

.whoops .msgarea a:hover {
    color: #cccccc;
    transition: color 0.2s ease-in-out;
}

.whoops a.closemsg {
    cursor: pointer;
}